* {
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
}
.header {
  text-align: center;
}
.left {
  min-height: 300px;
}
.right {
  border: 1px solid gray;
  padding: 1.5rem;
  flex-grow: 1;
  min-height: 300px;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.fieldgroup {
  padding: 1rem;
}
input[type="text"] {
  height: 2rem;
  border-radius: 1rem;
  padding: 1rem;
  outline: none;
  border: 1px solid gray;
  min-width: 200px;
  margin-right: 1rem;
}
button {
  margin-top: 1rem;
  height: 2rem;
  min-width: 6rem;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
button:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.result-content {
  margin-top: 1rem;
  min-width: 200px;
  min-height: 200px;
  border: 1px solid gray;
  border-radius: 5px;
}
#filecontent h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}
@media screen and (max-width: 500px) {
  .container {
    flex-direction: column;
  }
}
